ClientInterface/xml-resources/web-service-references/NuclearPlantControl/wsdl/localhost_8080/NuclearWebService/NuclearPlantControl.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="NuclearPlantControl">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/NuclearWebService/NuclearPlantControl?xsd=1"/>
</xsd:schema>
</types>
<message name="pullOutControlRods">
<part name="parameters" element="tns:pullOutControlRods"/>
</message>
<message name="pullOutControlRodsResponse">
<part name="parameters" element="tns:pullOutControlRodsResponse"/>
</message>
<message name="getPlantStatus">
<part name="parameters" element="tns:getPlantStatus"/>
</message>
<message name="getPlantStatusResponse">
<part name="parameters" element="tns:getPlantStatusResponse"/>
</message>
<message name="dumpAllCores">
<part name="parameters" element="tns:dumpAllCores"/>
</message>
<message name="dumpAllCoresResponse">
<part name="parameters" element="tns:dumpAllCoresResponse"/>
</message>
<message name="meltdownAll">
<part name="parameters" element="tns:meltdownAll"/>
</message>
<message name="meltdownAllResponse">
<part name="parameters" element="tns:meltdownAllResponse"/>
</message>
<message name="restartAll">
<part name="parameters" element="tns:restartAll"/>
</message>
<message name="restartAllResponse">
<part name="parameters" element="tns:restartAllResponse"/>
</message>
<message name="turnCoreOnOff">
<part name="parameters" element="tns:turnCoreOnOff"/>
</message>
<message name="getReactorInfo">
<part name="parameters" element="tns:getReactorInfo"/>
</message>
<message name="getReactorInfoResponse">
<part name="parameters" element="tns:getReactorInfoResponse"/>
</message>
<portType name="NuclearPlantControl">
<operation name="pullOutControlRods">
<input wsam:Action="http://services/NuclearPlantControl/pullOutControlRodsRequest" message="tns:pullOutControlRods"/>
<output wsam:Action="http://services/NuclearPlantControl/pullOutControlRodsResponse" message="tns:pullOutControlRodsResponse"/>
</operation>
<operation name="getPlantStatus">
<input wsam:Action="http://services/NuclearPlantControl/getPlantStatusRequest" message="tns:getPlantStatus"/>
<output wsam:Action="http://services/NuclearPlantControl/getPlantStatusResponse" message="tns:getPlantStatusResponse"/>
</operation>
<operation name="dumpAllCores">
<input wsam:Action="http://services/NuclearPlantControl/dumpAllCoresRequest" message="tns:dumpAllCores"/>
<output wsam:Action="http://services/NuclearPlantControl/dumpAllCoresResponse" message="tns:dumpAllCoresResponse"/>
</operation>
<operation name="meltdownAll">
<input wsam:Action="http://services/NuclearPlantControl/meltdownAllRequest" message="tns:meltdownAll"/>
<output wsam:Action="http://services/NuclearPlantControl/meltdownAllResponse" message="tns:meltdownAllResponse"/>
</operation>
<operation name="restartAll">
<input wsam:Action="http://services/NuclearPlantControl/restartAllRequest" message="tns:restartAll"/>
<output wsam:Action="http://services/NuclearPlantControl/restartAllResponse" message="tns:restartAllResponse"/>
</operation>
<operation name="turnCoreOnOff">
<input wsam:Action="http://services/NuclearPlantControl/turnCoreOnOff" message="tns:turnCoreOnOff"/>
</operation>
<operation name="getReactorInfo">
<input wsam:Action="http://services/NuclearPlantControl/getReactorInfoRequest" message="tns:getReactorInfo"/>
<output wsam:Action="http://services/NuclearPlantControl/getReactorInfoResponse" message="tns:getReactorInfoResponse"/>
</operation>
</portType>
<binding name="NuclearPlantControlPortBinding" type="tns:NuclearPlantControl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="pullOutControlRods">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPlantStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dumpAllCores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="meltdownAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="restartAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="turnCoreOnOff">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getReactorInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NuclearPlantControl">
<port name="NuclearPlantControlPort" binding="tns:NuclearPlantControlPortBinding">
<soap:address location="http://localhost:8080/NuclearWebService/NuclearPlantControl"/>
</port>
</service>
</definitions>